html, * {
  padding: 0;
  margin: 0;
}
html, body, #app {
  height: 100%;
  background-color: #fff;
}
[v-cloak]{
  /* 元素隐藏 */
  display: none;
}
body *, body :after, body :before {
  box-sizing: border-box;
}